cdmsdatafact/PartialArmTemplates/ArmTemplate_1_11_2019_19_28_9.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory Name",
			"defaultValue": "cdmsdatafact"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/CopyPipeline_r2p')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy_r2p",
						"type": "Copy",
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"typeProperties": {
							"source": {
								"type": "FileSystemSource",
								"recursive": true
							},
							"sink": {
								"type": "CosmosDbMongoDbApiSink",
								"writeBatchTimeout": "00:30:00",
								"writeBatchSize": 10000,
								"writeBehavior": "insert"
							},
							"enableStaging": false,
							"enableSkipIncompatibleRow": true,
							"dataIntegrationUnits": 0,
							"translator": {
								"type": "TabularTranslator",
								"schemaMapping": {
									"Id1": "Id1",
									"Id2": "Id2",
									"Id3": "Id3",
									"Operation": "Operation"
								}
							}
						},
						"inputs": [
							{
								"referenceName": "FileShare1",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "CosmosDbMongoDbApiCollection1",
								"type": "DatasetReference"
							}
						]
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/FileShare1')]",
				"[concat(variables('factoryId'), '/datasets/CosmosDbMongoDbApiCollection1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/CopyPipeline_xo4')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy_xo4",
						"type": "Copy",
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [
							{
								"name": "Source",
								"value": "cdmscontainer/SampleDaily_20181207.csv"
							},
							{
								"name": "Destination",
								"value": "TestCollection"
							}
						],
						"typeProperties": {
							"source": {
								"type": "BlobSource",
								"recursive": false
							},
							"sink": {
								"type": "CosmosDbMongoDbApiSink",
								"writeBatchTimeout": "00:30:00",
								"writeBatchSize": 10000,
								"writeBehavior": "insert"
							},
							"enableStaging": false,
							"enableSkipIncompatibleRow": true,
							"dataIntegrationUnits": 0,
							"translator": {
								"type": "TabularTranslator",
								"schemaMapping": {
									"Prop_0": "_id['$oid']",
									"Prop_1": "STATUS",
									"Prop_2": "ISIN",
									"Prop_3": "INST_TYPE",
									"Prop_4": "TYPE_CODE",
									"Prop_5": "ID",
									"Prop_6": "NAME",
									"Prop_7": "POS_UNIT",
									"Prop_8": "PORTFOLIO",
									"Prop_9": "SECTOR",
									"Prop_10": "ISSUER",
									"Prop_11": "COUNTERPARTY",
									"Prop_12": "COUNTRY_OF_RISK",
									"Prop_13": "CURR",
									"Prop_14": "SPOT",
									"Prop_15": "COST_OF_CARRY",
									"Prop_16": "CASHFLOW",
									"Prop_17": "STRIKE",
									"Prop_18": "CONTRACT_SIZE",
									"Prop_19": "ISSUE_DATE",
									"Prop_20": "MATURITY",
									"Prop_21": "CALL",
									"Prop_22": "VOLATILITY",
									"Prop_23": "UNDERLYING",
									"Prop_24": "GOVERNMENT_BOND",
									"Prop_25": "COUPON_RATE",
									"Prop_26": "LAST_REG_COUP_DATE",
									"Prop_27": "ODD_FIRST_COUP",
									"Prop_28": "ODD_LAST_COUP",
									"Prop_29": "ODD_FIRST_COUP_RATE",
									"Prop_30": "TERM",
									"Prop_31": "BUSINESS_DAY_RULE",
									"Prop_32": "FLOAT_REF_IDX",
									"Prop_33": "SPREAD",
									"Prop_34": "LAST_RESET_RATE",
									"Prop_35": "NOTIONAL",
									"Prop_36": "UNDERL_MATURITY",
									"Prop_37": "UNDERL_ENTITIES",
									"Prop_38": "COMP_WEIGHT",
									"Prop_39": "STRUCTURED_CASHFLOW",
									"Prop_40": "REF_TYPE",
									"Prop_41": "SWAP_NOTIONAL",
									"Prop_42": "FIX_COUP_DATE",
									"Prop_43": "PREMIUM_START",
									"Prop_44": "PREMIUM_END",
									"Prop_45": "NOTIONAL_START",
									"Prop_46": "NOTIONAL_END",
									"Prop_47": "EXERCISE_SCHEDULE",
									"Prop_48": "PUTABLE",
									"Prop_49": "CORRELATION",
									"Prop_50": "CONV_PRICE",
									"Prop_51": "CONV_START_DATE",
									"Prop_52": "CONV_END_DATE",
									"Prop_53": "REDEMPTION_BARRIER",
									"Prop_54": "CTD_BOND",
									"Prop_55": "EURO_VALUE",
									"Prop_56": "KAG_FX",
									"Prop_57": "RECOVERY_RATE",
									"Prop_58": "AMORTIZING",
									"Prop_59": "RATING",
									"Prop_60": "FACTOR",
									"Prop_61": "INFO",
									"Prop_62": "PREMIUM",
									"Prop_63": "CALLABLE",
									"Prop_64": "STRIKE_BOND_CALL",
									"Prop_65": "REDEMPTION_REFERENCE",
									"Prop_66": "CONVERTIBLE_AFTER_CALL",
									"Prop_67": "CALL_DATE",
									"Prop_68": "CALL_TYPE",
									"Prop_69": "EXCHANGEABLE",
									"Prop_70": "NOTIONAL_PER_BOND",
									"Prop_71": "BARRIER",
									"Prop_72": "BARRIER_HIT",
									"Prop_73": "REBATE",
									"Prop_74": "PUT_TYPE",
									"Prop_75": "WAL",
									"Prop_76": "POOLFACTOR",
									"Prop_77": "FIXINGS_SO_FAR",
									"Prop_78": "FIXINGS_TOTAL",
									"Prop_79": "FIXING_PERIOD",
									"Prop_80": "FIXINGS",
									"Prop_81": "DIGITAL",
									"Prop_82": "DIGITAL_PAYOFF",
									"Prop_83": "VV_NAME",
									"Prop_84": "OPTION_SCHEDULE"
								}
							}
						},
						"inputs": [
							{
								"referenceName": "SourceDataset_xo4",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "DestinationDataset_xo4",
								"type": "DatasetReference"
							}
						]
					},
					{
						"name": "Web1",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "Copy_xo4",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"typeProperties": {
							"url": "https://msciftp.azurewebsites.net/api/ftp",
							"method": "GET",
							"headers": {
								"fileName": "SampleFile.csv"
							}
						}
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/SourceDataset_xo4')]",
				"[concat(variables('factoryId'), '/datasets/DestinationDataset_xo4')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/CosmosDbMongoDbApiCollection1')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "CosmosDbMongoDbApi2",
					"type": "LinkedServiceReference"
				},
				"type": "CosmosDbMongoDbApiCollection",
				"typeProperties": {
					"collection": "Test"
				}
			}
		},
		{
			"name": "[concat(parameters('factoryName'), '/DestinationDataset_xo4')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "CosmosDbMongoDbApi1",
					"type": "LinkedServiceReference"
				},
				"type": "CosmosDbMongoDbApiCollection",
				"typeProperties": {
					"collection": "TestCollection"
				}
			}
		},
		{
			"name": "[concat(parameters('factoryName'), '/FileShare1')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "linkedService1",
					"type": "LinkedServiceReference"
				},
				"type": "FileShare",
				"structure": [
					{
						"name": "Id1",
						"type": "String"
					},
					{
						"name": "Id2",
						"type": "String"
					},
					{
						"name": "Id3",
						"type": "String"
					},
					{
						"name": "Operation",
						"type": "String"
					}
				],
				"typeProperties": {
					"format": {
						"type": "TextFormat",
						"columnDelimiter": ",",
						"rowDelimiter": "",
						"nullValue": "\\N",
						"treatEmptyAsNull": true,
						"skipLineCount": 0,
						"firstRowAsHeader": false
					},
					"fileName": "Sample1.csv",
					"folderPath": "source/D2"
				}
			}
		},
		{
			"name": "[concat(parameters('factoryName'), '/SourceDataset_xo4')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlobStorage1",
					"type": "LinkedServiceReference"
				},
				"type": "AzureBlob",
				"structure": [
					{
						"name": "Prop_0",
						"type": "String"
					},
					{
						"name": "Prop_1",
						"type": "String"
					},
					{
						"name": "Prop_2",
						"type": "String"
					},
					{
						"name": "Prop_3",
						"type": "String"
					},
					{
						"name": "Prop_4",
						"type": "String"
					},
					{
						"name": "Prop_5",
						"type": "String"
					},
					{
						"name": "Prop_6",
						"type": "String"
					},
					{
						"name": "Prop_7",
						"type": "String"
					},
					{
						"name": "Prop_8",
						"type": "String"
					},
					{
						"name": "Prop_9",
						"type": "String"
					},
					{
						"name": "Prop_10",
						"type": "String"
					},
					{
						"name": "Prop_11",
						"type": "String"
					},
					{
						"name": "Prop_12",
						"type": "String"
					},
					{
						"name": "Prop_13",
						"type": "String"
					},
					{
						"name": "Prop_14",
						"type": "String"
					},
					{
						"name": "Prop_15",
						"type": "String"
					},
					{
						"name": "Prop_16",
						"type": "String"
					},
					{
						"name": "Prop_17",
						"type": "String"
					},
					{
						"name": "Prop_18",
						"type": "String"
					},
					{
						"name": "Prop_19",
						"type": "String"
					},
					{
						"name": "Prop_20",
						"type": "String"
					},
					{
						"name": "Prop_21",
						"type": "String"
					},
					{
						"name": "Prop_22",
						"type": "String"
					},
					{
						"name": "Prop_23",
						"type": "String"
					},
					{
						"name": "Prop_24",
						"type": "String"
					},
					{
						"name": "Prop_25",
						"type": "String"
					},
					{
						"name": "Prop_26",
						"type": "String"
					},
					{
						"name": "Prop_27",
						"type": "String"
					},
					{
						"name": "Prop_28",
						"type": "String"
					},
					{
						"name": "Prop_29",
						"type": "String"
					},
					{
						"name": "Prop_30",
						"type": "String"
					},
					{
						"name": "Prop_31",
						"type": "String"
					},
					{
						"name": "Prop_32",
						"type": "String"
					},
					{
						"name": "Prop_33",
						"type": "String"
					},
					{
						"name": "Prop_34",
						"type": "String"
					},
					{
						"name": "Prop_35",
						"type": "String"
					},
					{
						"name": "Prop_36",
						"type": "String"
					},
					{
						"name": "Prop_37",
						"type": "String"
					},
					{
						"name": "Prop_38",
						"type": "String"
					},
					{
						"name": "Prop_39",
						"type": "String"
					},
					{
						"name": "Prop_40",
						"type": "String"
					},
					{
						"name": "Prop_41",
						"type": "String"
					},
					{
						"name": "Prop_42",
						"type": "String"
					},
					{
						"name": "Prop_43",
						"type": "String"
					},
					{
						"name": "Prop_44",
						"type": "String"
					},
					{
						"name": "Prop_45",
						"type": "String"
					},
					{
						"name": "Prop_46",
						"type": "String"
					},
					{
						"name": "Prop_47",
						"type": "String"
					},
					{
						"name": "Prop_48",
						"type": "String"
					},
					{
						"name": "Prop_49",
						"type": "String"
					},
					{
						"name": "Prop_50",
						"type": "String"
					},
					{
						"name": "Prop_51",
						"type": "String"
					},
					{
						"name": "Prop_52",
						"type": "String"
					},
					{
						"name": "Prop_53",
						"type": "String"
					},
					{
						"name": "Prop_54",
						"type": "String"
					},
					{
						"name": "Prop_55",
						"type": "String"
					},
					{
						"name": "Prop_56",
						"type": "String"
					},
					{
						"name": "Prop_57",
						"type": "String"
					},
					{
						"name": "Prop_58",
						"type": "String"
					},
					{
						"name": "Prop_59",
						"type": "String"
					},
					{
						"name": "Prop_60",
						"type": "String"
					},
					{
						"name": "Prop_61",
						"type": "String"
					},
					{
						"name": "Prop_62",
						"type": "String"
					},
					{
						"name": "Prop_63",
						"type": "String"
					},
					{
						"name": "Prop_64",
						"type": "String"
					},
					{
						"name": "Prop_65",
						"type": "String"
					},
					{
						"name": "Prop_66",
						"type": "String"
					},
					{
						"name": "Prop_67",
						"type": "String"
					},
					{
						"name": "Prop_68",
						"type": "String"
					},
					{
						"name": "Prop_69",
						"type": "String"
					},
					{
						"name": "Prop_70",
						"type": "String"
					},
					{
						"name": "Prop_71",
						"type": "String"
					},
					{
						"name": "Prop_72",
						"type": "String"
					},
					{
						"name": "Prop_73",
						"type": "String"
					},
					{
						"name": "Prop_74",
						"type": "String"
					},
					{
						"name": "Prop_75",
						"type": "String"
					},
					{
						"name": "Prop_76",
						"type": "String"
					},
					{
						"name": "Prop_77",
						"type": "String"
					},
					{
						"name": "Prop_78",
						"type": "String"
					},
					{
						"name": "Prop_79",
						"type": "String"
					},
					{
						"name": "Prop_80",
						"type": "String"
					},
					{
						"name": "Prop_81",
						"type": "String"
					},
					{
						"name": "Prop_82",
						"type": "String"
					},
					{
						"name": "Prop_83",
						"type": "String"
					},
					{
						"name": "Prop_84",
						"type": "String"
					}
				],
				"typeProperties": {
					"format": {
						"type": "TextFormat",
						"columnDelimiter": ";",
						"rowDelimiter": "",
						"nullValue": "\\N",
						"encodingName": null,
						"treatEmptyAsNull": true,
						"skipLineCount": 2,
						"firstRowAsHeader": false
					},
					"fileName": "SampleDaily_20190111_1.txt",
					"folderPath": "cdmscontainer"
				}
			}
		}
	]
}