cdmsdatafact/PartialArmTemplates/ArmTemplate_1_10_2019_20_23_21.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory Name",
			"defaultValue": "cdmsdatafact"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/CopyPipeline_0al')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy_0al",
						"type": "Copy",
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [
							{
								"name": "Source",
								"value": "cdmscontainer/SampleDaily_20181207.csv"
							},
							{
								"name": "Destination",
								"value": "cdmsCollection"
							}
						],
						"typeProperties": {
							"source": {
								"type": "BlobSource",
								"recursive": false
							},
							"sink": {
								"type": "CosmosDbMongoDbApiSink",
								"writeBatchTimeout": "00:30:00",
								"writeBatchSize": 10000,
								"writeBehavior": "insert"
							},
							"enableStaging": false,
							"enableSkipIncompatibleRow": true,
							"dataIntegrationUnits": 0,
							"translator": {
								"type": "TabularTranslator",
								"schemaMapping": {
									"Prop_0": "Prop_0",
									"Prop_1": "Prop_1",
									"Prop_2": "Prop_2",
									"Prop_3": "Prop_3",
									"Prop_4": "Prop_4",
									"Prop_5": "Prop_5",
									"Prop_6": "Prop_6",
									"Prop_7": "Prop_7",
									"Prop_8": "Prop_8",
									"Prop_9": "Prop_9",
									"Prop_10": "Prop_10",
									"Prop_11": "Prop_11",
									"Prop_12": "Prop_12",
									"Prop_13": "Prop_13",
									"Prop_14": "Prop_14",
									"Prop_15": "Prop_15",
									"Prop_16": "Prop_16",
									"Prop_17": "Prop_17",
									"Prop_18": "Prop_18",
									"Prop_19": "Prop_19",
									"Prop_20": "Prop_20",
									"Prop_21": "Prop_21",
									"Prop_22": "Prop_22",
									"Prop_23": "Prop_23",
									"Prop_24": "Prop_24",
									"Prop_25": "Prop_25",
									"Prop_26": "Prop_26",
									"Prop_27": "Prop_27",
									"Prop_28": "Prop_28",
									"Prop_29": "Prop_29",
									"Prop_30": "Prop_30",
									"Prop_31": "Prop_31",
									"Prop_32": "Prop_32",
									"Prop_33": "Prop_33",
									"Prop_34": "Prop_34",
									"Prop_35": "Prop_35",
									"Prop_36": "Prop_36",
									"Prop_37": "Prop_37",
									"Prop_38": "Prop_38",
									"Prop_39": "Prop_39",
									"Prop_40": "Prop_40",
									"Prop_41": "Prop_41",
									"Prop_42": "Prop_42",
									"Prop_43": "Prop_43",
									"Prop_44": "Prop_44",
									"Prop_45": "Prop_45",
									"Prop_46": "Prop_46",
									"Prop_47": "Prop_47",
									"Prop_48": "Prop_48",
									"Prop_49": "Prop_49",
									"Prop_50": "Prop_50",
									"Prop_51": "Prop_51",
									"Prop_52": "Prop_52",
									"Prop_53": "Prop_53",
									"Prop_54": "Prop_54",
									"Prop_55": "Prop_55",
									"Prop_56": "Prop_56",
									"Prop_57": "Prop_57",
									"Prop_58": "Prop_58",
									"Prop_59": "Prop_59",
									"Prop_60": "Prop_60",
									"Prop_61": "Prop_61",
									"Prop_62": "Prop_62",
									"Prop_63": "Prop_63",
									"Prop_64": "Prop_64",
									"Prop_65": "Prop_65",
									"Prop_66": "Prop_66",
									"Prop_67": "Prop_67",
									"Prop_68": "Prop_68",
									"Prop_69": "Prop_69",
									"Prop_70": "Prop_70",
									"Prop_71": "Prop_71",
									"Prop_72": "Prop_72",
									"Prop_73": "Prop_73",
									"Prop_74": "Prop_74",
									"Prop_75": "Prop_75",
									"Prop_76": "Prop_76",
									"Prop_77": "Prop_77",
									"Prop_78": "Prop_78",
									"Prop_79": "Prop_79",
									"Prop_80": "Prop_80",
									"Prop_81": "Prop_81",
									"Prop_82": "Prop_82",
									"Prop_83": "Prop_83",
									"Prop_84": "Prop_84"
								}
							}
						},
						"inputs": [
							{
								"referenceName": "SourceDataset_0al",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "DestinationDataset_0al",
								"type": "DatasetReference"
							}
						]
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/SourceDataset_0al')]",
				"[concat(variables('factoryId'), '/datasets/DestinationDataset_0al')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/CopyPipeline_r2p')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy_r2p",
						"type": "Copy",
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [
							{
								"name": "Source",
								"value": "cdmscontainer/SampleDaily_20181207.csv"
							},
							{
								"name": "Destination",
								"value": "mscicdmscollection"
							}
						],
						"typeProperties": {
							"source": {
								"type": "BlobSource",
								"recursive": false
							},
							"sink": {
								"type": "CosmosDbMongoDbApiSink",
								"writeBatchTimeout": "00:30:00",
								"writeBatchSize": 10000,
								"writeBehavior": "insert"
							},
							"enableStaging": false,
							"enableSkipIncompatibleRow": true,
							"dataIntegrationUnits": 0,
							"translator": {
								"type": "TabularTranslator",
								"schemaMapping": {
									"Prop_0": "_id['$oid']",
									"Prop_1": "STATUS",
									"Prop_2": "ISIN",
									"Prop_3": "INST_TYPE",
									"Prop_4": "TYPE_CODE",
									"Prop_5": "ID",
									"Prop_6": "NAME",
									"Prop_7": "POS_UNIT",
									"Prop_8": "PORTFOLIO",
									"Prop_9": "SECTOR",
									"Prop_10": "ISSUER",
									"Prop_11": "COUNTERPARTY",
									"Prop_12": "COUNTRY_OF_RISK",
									"Prop_13": "CURR",
									"Prop_14": "SPOT",
									"Prop_15": "COST_OF_CARRY",
									"Prop_16": "CASHFLOW",
									"Prop_17": "STRIKE",
									"Prop_18": "CONTRACT_SIZE",
									"Prop_19": "ISSUE_DATE",
									"Prop_20": "MATURITY",
									"Prop_21": "CALL",
									"Prop_22": "VOLATILITY",
									"Prop_23": "UNDERLYING",
									"Prop_24": "GOVERNMENT_BOND",
									"Prop_25": "COUPON_RATE",
									"Prop_26": "LAST_REG_COUP_DATE",
									"Prop_27": "ODD_FIRST_COUP",
									"Prop_28": "ODD_LAST_COUP",
									"Prop_29": "ODD_FIRST_COUP_RATE",
									"Prop_30": "TERM",
									"Prop_31": "BUSINESS_DAY_RULE",
									"Prop_32": "FLOAT_REF_IDX",
									"Prop_33": "SPREAD",
									"Prop_34": "LAST_RESET_RATE",
									"Prop_35": "NOTIONAL",
									"Prop_36": "UNDERL_MATURITY",
									"Prop_37": "UNDERL_ENTITIES",
									"Prop_38": "COMP_WEIGHT",
									"Prop_39": "STRUCTURED_CASHFLOW",
									"Prop_40": "REF_TYPE",
									"Prop_41": "SWAP_NOTIONAL",
									"Prop_42": "FIX_COUP_DATE",
									"Prop_43": "PREMIUM_START",
									"Prop_44": "PREMIUM_END",
									"Prop_45": "NOTIONAL_START",
									"Prop_46": "NOTIONAL_END",
									"Prop_47": "EXERCISE_SCHEDULE",
									"Prop_48": "PUTABLE",
									"Prop_49": "CORRELATION",
									"Prop_50": "CONV_PRICE",
									"Prop_51": "CONV_START_DATE",
									"Prop_52": "CONV_END_DATE",
									"Prop_53": "REDEMPTION_BARRIER",
									"Prop_54": "CTD_BOND",
									"Prop_55": "EURO_VALUE",
									"Prop_56": "KAG_FX",
									"Prop_57": "RECOVERY_RATE",
									"Prop_58": "AMORTIZING",
									"Prop_59": "RATING",
									"Prop_60": "FACTOR",
									"Prop_61": "INFO",
									"Prop_62": "PREMIUM",
									"Prop_63": "CALLABLE",
									"Prop_64": "STRIKE_BOND_CALL",
									"Prop_65": "REDEMPTION_REFERENCE",
									"Prop_66": "CONVERTIBLE_AFTER_CALL",
									"Prop_67": "CALL_DATE",
									"Prop_68": "CALL_TYPE",
									"Prop_69": "EXCHANGEABLE",
									"Prop_70": "NOTIONAL_PER_BOND",
									"Prop_71": "BARRIER",
									"Prop_72": "BARRIER_HIT",
									"Prop_73": "REBATE",
									"Prop_74": "PUT_TYPE",
									"Prop_75": "WAL",
									"Prop_76": "POOLFACTOR",
									"Prop_77": "FIXINGS_SO_FAR",
									"Prop_78": "FIXINGS_TOTAL",
									"Prop_79": "FIXING_PERIOD",
									"Prop_80": "FIXINGS",
									"Prop_81": "DIGITAL",
									"Prop_82": "DIGITAL_PAYOFF",
									"Prop_83": "VV_NAME",
									"Prop_84": "OPTION_SCHEDULE"
								}
							}
						},
						"inputs": [
							{
								"referenceName": "SourceDataset_r2p",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "DestinationDataset_r2p",
								"type": "DatasetReference"
							}
						]
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/SourceDataset_r2p')]",
				"[concat(variables('factoryId'), '/datasets/DestinationDataset_r2p')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/CopyPipeline_xo4')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy_xo4",
						"type": "Copy",
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [
							{
								"name": "Source",
								"value": "cdmscontainer/SampleDaily_20181207.csv"
							},
							{
								"name": "Destination",
								"value": "mscicdmscollection"
							}
						],
						"typeProperties": {
							"source": {
								"type": "BlobSource",
								"recursive": false
							},
							"sink": {
								"type": "CosmosDbMongoDbApiSink",
								"writeBatchTimeout": "00:30:00",
								"writeBatchSize": 10000,
								"writeBehavior": "insert"
							},
							"enableStaging": false,
							"enableSkipIncompatibleRow": true,
							"dataIntegrationUnits": 0,
							"translator": {
								"type": "TabularTranslator",
								"schemaMapping": {
									"Prop_0": "STATUS",
									"Prop_1": "ISIN",
									"Prop_2": "INST_TYPE",
									"Prop_3": "TYPE_CODE",
									"Prop_4": "ID",
									"Prop_5": "NAME",
									"Prop_6": "POS_UNIT",
									"Prop_7": "PORTFOLIO",
									"Prop_8": "SECTOR",
									"Prop_9": "ISSUER",
									"Prop_10": "COUNTERPARTY",
									"Prop_11": "COUNTRY_OF_RISK",
									"Prop_12": "CURR",
									"Prop_13": "SPOT",
									"Prop_14": "COST_OF_CARRY",
									"Prop_15": "CASHFLOW",
									"Prop_16": "STRIKE",
									"Prop_17": "CONTRACT_SIZE",
									"Prop_18": "ISSUE_DATE",
									"Prop_19": "MATURITY",
									"Prop_20": "CALL",
									"Prop_21": "VOLATILITY",
									"Prop_22": "UNDERLYING",
									"Prop_23": "GOVERNMENT_BOND",
									"Prop_24": "COUPON_RATE",
									"Prop_25": "LAST_REG_COUP_DATE",
									"Prop_26": "ODD_FIRST_COUP",
									"Prop_27": "ODD_LAST_COUP",
									"Prop_28": "ODD_FIRST_COUP_RATE",
									"Prop_29": "TERM",
									"Prop_30": "BUSINESS_DAY_RULE",
									"Prop_31": "FLOAT_REF_IDX",
									"Prop_32": "SPREAD",
									"Prop_33": "LAST_RESET_RATE",
									"Prop_34": "NOTIONAL",
									"Prop_35": "UNDERL_MATURITY",
									"Prop_36": "UNDERL_ENTITIES",
									"Prop_37": "COMP_WEIGHT",
									"Prop_38": "STRUCTURED_CASHFLOW",
									"Prop_39": "REF_TYPE",
									"Prop_40": "SWAP_NOTIONAL",
									"Prop_41": "FIX_COUP_DATE",
									"Prop_42": "PREMIUM_START",
									"Prop_43": "PREMIUM_END",
									"Prop_44": "NOTIONAL_START",
									"Prop_45": "NOTIONAL_END",
									"Prop_46": "EXERCISE_SCHEDULE",
									"Prop_47": "PUTABLE",
									"Prop_48": "CORRELATION",
									"Prop_49": "CONV_PRICE",
									"Prop_50": "CONV_START_DATE",
									"Prop_51": "CONV_END_DATE",
									"Prop_52": "REDEMPTION_BARRIER",
									"Prop_53": "CTD_BOND",
									"Prop_54": "EURO_VALUE",
									"Prop_55": "KAG_FX",
									"Prop_56": "RECOVERY_RATE",
									"Prop_57": "AMORTIZING",
									"Prop_58": "RATING",
									"Prop_59": "FACTOR",
									"Prop_60": "INFO",
									"Prop_61": "PREMIUM",
									"Prop_62": "CALLABLE",
									"Prop_63": "STRIKE_BOND_CALL",
									"Prop_64": "REDEMPTION_REFERENCE",
									"Prop_65": "CONVERTIBLE_AFTER_CALL",
									"Prop_66": "CALL_DATE",
									"Prop_67": "CALL_TYPE",
									"Prop_68": "EXCHANGEABLE",
									"Prop_69": "NOTIONAL_PER_BOND",
									"Prop_70": "BARRIER",
									"Prop_71": "BARRIER_HIT",
									"Prop_72": "REBATE",
									"Prop_73": "PUT_TYPE",
									"Prop_74": "WAL",
									"Prop_75": "POOLFACTOR",
									"Prop_76": "FIXINGS_SO_FAR",
									"Prop_77": "FIXINGS_TOTAL",
									"Prop_78": "FIXING_PERIOD",
									"Prop_79": "FIXINGS",
									"Prop_80": "DIGITAL",
									"Prop_81": "DIGITAL_PAYOFF",
									"Prop_82": "VV_NAME",
									"Prop_83": "OPTION_SCHEDULE",
									"Prop_84": "RIC"
								}
							}
						},
						"inputs": [
							{
								"referenceName": "SourceDataset_xo4",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "DestinationDataset_xo4",
								"type": "DatasetReference"
							}
						]
					},
					{
						"name": "Custom1",
						"type": "Custom",
						"dependsOn": [
							{
								"activity": "Copy_xo4",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"typeProperties": {
							"command": "RENAME SampleDaily_20181207.csv SampleDaily_20181207_processed.csv",
							"resourceLinkedService": {
								"referenceName": "AzureBlobStorage1",
								"type": "LinkedServiceReference"
							},
							"folderPath": "cdmscontainer"
						},
						"linkedServiceName": {
							"referenceName": "AzureBatch2",
							"type": "LinkedServiceReference"
						}
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/SourceDataset_xo4')]",
				"[concat(variables('factoryId'), '/datasets/DestinationDataset_xo4')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pipeline1')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Web1",
						"type": "WebActivity",
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"typeProperties": {
							"url": "https://msciftp.azurewebsites.net/api/ftp?fileName=SampleFile.csv",
							"method": "GET"
						}
					},
					{
						"name": "Azure Function1",
						"type": "AzureFunctionActivity",
						"dependsOn": [
							{
								"activity": "Web1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"typeProperties": {
							"functionName": "ftp",
							"method": "GET"
						},
						"linkedServiceName": {
							"referenceName": "AzureFunction1",
							"type": "LinkedServiceReference"
						}
					}
				]
			}
		},
		{
			"name": "[concat(parameters('factoryName'), '/DestinationDataset_0al')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "CosmosDbMongoDbApi1",
					"type": "LinkedServiceReference"
				},
				"type": "CosmosDbMongoDbApiCollection",
				"typeProperties": {
					"collection": "cdmsCollection"
				}
			}
		},
		{
			"name": "[concat(parameters('factoryName'), '/DestinationDataset_r2p')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "CosmosDbMongoDbApi1",
					"type": "LinkedServiceReference"
				},
				"type": "CosmosDbMongoDbApiCollection",
				"typeProperties": {
					"collection": "mscicdmscollection"
				}
			}
		},
		{
			"name": "[concat(parameters('factoryName'), '/DestinationDataset_xo4')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "CosmosDbMongoDbApi1",
					"type": "LinkedServiceReference"
				},
				"type": "CosmosDbMongoDbApiCollection",
				"typeProperties": {
					"collection": "mscicdmscollection"
				}
			}
		},
		{
			"name": "[concat(parameters('factoryName'), '/SourceDataset_0al')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlobStorage1",
					"type": "LinkedServiceReference"
				},
				"type": "AzureBlob",
				"structure": [
					{
						"name": "Prop_0",
						"type": "String"
					},
					{
						"name": "Prop_1",
						"type": "String"
					},
					{
						"name": "Prop_2",
						"type": "String"
					},
					{
						"name": "Prop_3",
						"type": "String"
					},
					{
						"name": "Prop_4",
						"type": "String"
					},
					{
						"name": "Prop_5",
						"type": "String"
					},
					{
						"name": "Prop_6",
						"type": "String"
					},
					{
						"name": "Prop_7",
						"type": "String"
					},
					{
						"name": "Prop_8",
						"type": "String"
					},
					{
						"name": "Prop_9",
						"type": "String"
					},
					{
						"name": "Prop_10",
						"type": "String"
					},
					{
						"name": "Prop_11",
						"type": "String"
					},
					{
						"name": "Prop_12",
						"type": "String"
					},
					{
						"name": "Prop_13",
						"type": "String"
					},
					{
						"name": "Prop_14",
						"type": "String"
					},
					{
						"name": "Prop_15",
						"type": "String"
					},
					{
						"name": "Prop_16",
						"type": "String"
					},
					{
						"name": "Prop_17",
						"type": "String"
					},
					{
						"name": "Prop_18",
						"type": "String"
					},
					{
						"name": "Prop_19",
						"type": "String"
					},
					{
						"name": "Prop_20",
						"type": "String"
					},
					{
						"name": "Prop_21",
						"type": "String"
					},
					{
						"name": "Prop_22",
						"type": "String"
					},
					{
						"name": "Prop_23",
						"type": "String"
					},
					{
						"name": "Prop_24",
						"type": "String"
					},
					{
						"name": "Prop_25",
						"type": "String"
					},
					{
						"name": "Prop_26",
						"type": "String"
					},
					{
						"name": "Prop_27",
						"type": "String"
					},
					{
						"name": "Prop_28",
						"type": "String"
					},
					{
						"name": "Prop_29",
						"type": "String"
					},
					{
						"name": "Prop_30",
						"type": "String"
					},
					{
						"name": "Prop_31",
						"type": "String"
					},
					{
						"name": "Prop_32",
						"type": "String"
					},
					{
						"name": "Prop_33",
						"type": "String"
					},
					{
						"name": "Prop_34",
						"type": "String"
					},
					{
						"name": "Prop_35",
						"type": "String"
					},
					{
						"name": "Prop_36",
						"type": "String"
					},
					{
						"name": "Prop_37",
						"type": "String"
					},
					{
						"name": "Prop_38",
						"type": "String"
					},
					{
						"name": "Prop_39",
						"type": "String"
					},
					{
						"name": "Prop_40",
						"type": "String"
					},
					{
						"name": "Prop_41",
						"type": "String"
					},
					{
						"name": "Prop_42",
						"type": "String"
					},
					{
						"name": "Prop_43",
						"type": "String"
					},
					{
						"name": "Prop_44",
						"type": "String"
					},
					{
						"name": "Prop_45",
						"type": "String"
					},
					{
						"name": "Prop_46",
						"type": "String"
					},
					{
						"name": "Prop_47",
						"type": "String"
					},
					{
						"name": "Prop_48",
						"type": "String"
					},
					{
						"name": "Prop_49",
						"type": "String"
					},
					{
						"name": "Prop_50",
						"type": "String"
					},
					{
						"name": "Prop_51",
						"type": "String"
					},
					{
						"name": "Prop_52",
						"type": "String"
					},
					{
						"name": "Prop_53",
						"type": "String"
					},
					{
						"name": "Prop_54",
						"type": "String"
					},
					{
						"name": "Prop_55",
						"type": "String"
					},
					{
						"name": "Prop_56",
						"type": "String"
					},
					{
						"name": "Prop_57",
						"type": "String"
					},
					{
						"name": "Prop_58",
						"type": "String"
					},
					{
						"name": "Prop_59",
						"type": "String"
					},
					{
						"name": "Prop_60",
						"type": "String"
					},
					{
						"name": "Prop_61",
						"type": "String"
					},
					{
						"name": "Prop_62",
						"type": "String"
					},
					{
						"name": "Prop_63",
						"type": "String"
					},
					{
						"name": "Prop_64",
						"type": "String"
					},
					{
						"name": "Prop_65",
						"type": "String"
					},
					{
						"name": "Prop_66",
						"type": "String"
					},
					{
						"name": "Prop_67",
						"type": "String"
					},
					{
						"name": "Prop_68",
						"type": "String"
					},
					{
						"name": "Prop_69",
						"type": "String"
					},
					{
						"name": "Prop_70",
						"type": "String"
					},
					{
						"name": "Prop_71",
						"type": "String"
					},
					{
						"name": "Prop_72",
						"type": "String"
					},
					{
						"name": "Prop_73",
						"type": "String"
					},
					{
						"name": "Prop_74",
						"type": "String"
					},
					{
						"name": "Prop_75",
						"type": "String"
					},
					{
						"name": "Prop_76",
						"type": "String"
					},
					{
						"name": "Prop_77",
						"type": "String"
					},
					{
						"name": "Prop_78",
						"type": "String"
					},
					{
						"name": "Prop_79",
						"type": "String"
					},
					{
						"name": "Prop_80",
						"type": "String"
					},
					{
						"name": "Prop_81",
						"type": "String"
					},
					{
						"name": "Prop_82",
						"type": "String"
					},
					{
						"name": "Prop_83",
						"type": "String"
					},
					{
						"name": "Prop_84",
						"type": "String"
					}
				],
				"typeProperties": {
					"format": {
						"type": "TextFormat",
						"columnDelimiter": ";",
						"rowDelimiter": "",
						"nullValue": "\\N",
						"encodingName": null,
						"treatEmptyAsNull": true,
						"skipLineCount": 2,
						"firstRowAsHeader": false
					},
					"fileName": "SampleDaily_20181207.csv",
					"folderPath": "cdmscontainer"
				}
			}
		},
		{
			"name": "[concat(parameters('factoryName'), '/SourceDataset_r2p')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlobStorage1",
					"type": "LinkedServiceReference"
				},
				"type": "AzureBlob",
				"structure": [
					{
						"name": "Prop_0",
						"type": "String"
					},
					{
						"name": "Prop_1",
						"type": "String"
					},
					{
						"name": "Prop_2",
						"type": "String"
					},
					{
						"name": "Prop_3",
						"type": "String"
					},
					{
						"name": "Prop_4",
						"type": "String"
					},
					{
						"name": "Prop_5",
						"type": "String"
					},
					{
						"name": "Prop_6",
						"type": "String"
					},
					{
						"name": "Prop_7",
						"type": "String"
					},
					{
						"name": "Prop_8",
						"type": "String"
					},
					{
						"name": "Prop_9",
						"type": "String"
					},
					{
						"name": "Prop_10",
						"type": "String"
					},
					{
						"name": "Prop_11",
						"type": "String"
					},
					{
						"name": "Prop_12",
						"type": "String"
					},
					{
						"name": "Prop_13",
						"type": "String"
					},
					{
						"name": "Prop_14",
						"type": "String"
					},
					{
						"name": "Prop_15",
						"type": "String"
					},
					{
						"name": "Prop_16",
						"type": "String"
					},
					{
						"name": "Prop_17",
						"type": "String"
					},
					{
						"name": "Prop_18",
						"type": "String"
					},
					{
						"name": "Prop_19",
						"type": "String"
					},
					{
						"name": "Prop_20",
						"type": "String"
					},
					{
						"name": "Prop_21",
						"type": "String"
					},
					{
						"name": "Prop_22",
						"type": "String"
					},
					{
						"name": "Prop_23",
						"type": "String"
					},
					{
						"name": "Prop_24",
						"type": "String"
					},
					{
						"name": "Prop_25",
						"type": "String"
					},
					{
						"name": "Prop_26",
						"type": "String"
					},
					{
						"name": "Prop_27",
						"type": "String"
					},
					{
						"name": "Prop_28",
						"type": "String"
					},
					{
						"name": "Prop_29",
						"type": "String"
					},
					{
						"name": "Prop_30",
						"type": "String"
					},
					{
						"name": "Prop_31",
						"type": "String"
					},
					{
						"name": "Prop_32",
						"type": "String"
					},
					{
						"name": "Prop_33",
						"type": "String"
					},
					{
						"name": "Prop_34",
						"type": "String"
					},
					{
						"name": "Prop_35",
						"type": "String"
					},
					{
						"name": "Prop_36",
						"type": "String"
					},
					{
						"name": "Prop_37",
						"type": "String"
					},
					{
						"name": "Prop_38",
						"type": "String"
					},
					{
						"name": "Prop_39",
						"type": "String"
					},
					{
						"name": "Prop_40",
						"type": "String"
					},
					{
						"name": "Prop_41",
						"type": "String"
					},
					{
						"name": "Prop_42",
						"type": "String"
					},
					{
						"name": "Prop_43",
						"type": "String"
					},
					{
						"name": "Prop_44",
						"type": "String"
					},
					{
						"name": "Prop_45",
						"type": "String"
					},
					{
						"name": "Prop_46",
						"type": "String"
					},
					{
						"name": "Prop_47",
						"type": "String"
					},
					{
						"name": "Prop_48",
						"type": "String"
					},
					{
						"name": "Prop_49",
						"type": "String"
					},
					{
						"name": "Prop_50",
						"type": "String"
					},
					{
						"name": "Prop_51",
						"type": "String"
					},
					{
						"name": "Prop_52",
						"type": "String"
					},
					{
						"name": "Prop_53",
						"type": "String"
					},
					{
						"name": "Prop_54",
						"type": "String"
					},
					{
						"name": "Prop_55",
						"type": "String"
					},
					{
						"name": "Prop_56",
						"type": "String"
					},
					{
						"name": "Prop_57",
						"type": "String"
					},
					{
						"name": "Prop_58",
						"type": "String"
					},
					{
						"name": "Prop_59",
						"type": "String"
					},
					{
						"name": "Prop_60",
						"type": "String"
					},
					{
						"name": "Prop_61",
						"type": "String"
					},
					{
						"name": "Prop_62",
						"type": "String"
					},
					{
						"name": "Prop_63",
						"type": "String"
					},
					{
						"name": "Prop_64",
						"type": "String"
					},
					{
						"name": "Prop_65",
						"type": "String"
					},
					{
						"name": "Prop_66",
						"type": "String"
					},
					{
						"name": "Prop_67",
						"type": "String"
					},
					{
						"name": "Prop_68",
						"type": "String"
					},
					{
						"name": "Prop_69",
						"type": "String"
					},
					{
						"name": "Prop_70",
						"type": "String"
					},
					{
						"name": "Prop_71",
						"type": "String"
					},
					{
						"name": "Prop_72",
						"type": "String"
					},
					{
						"name": "Prop_73",
						"type": "String"
					},
					{
						"name": "Prop_74",
						"type": "String"
					},
					{
						"name": "Prop_75",
						"type": "String"
					},
					{
						"name": "Prop_76",
						"type": "String"
					},
					{
						"name": "Prop_77",
						"type": "String"
					},
					{
						"name": "Prop_78",
						"type": "String"
					},
					{
						"name": "Prop_79",
						"type": "String"
					},
					{
						"name": "Prop_80",
						"type": "String"
					},
					{
						"name": "Prop_81",
						"type": "String"
					},
					{
						"name": "Prop_82",
						"type": "String"
					},
					{
						"name": "Prop_83",
						"type": "String"
					},
					{
						"name": "Prop_84",
						"type": "String"
					}
				],
				"typeProperties": {
					"format": {
						"type": "TextFormat",
						"columnDelimiter": ";",
						"rowDelimiter": "",
						"nullValue": "\\N",
						"encodingName": null,
						"treatEmptyAsNull": true,
						"skipLineCount": 2,
						"firstRowAsHeader": false
					},
					"fileName": "SampleDaily_20181207.csv",
					"folderPath": "cdmscontainer"
				}
			}
		},
		{
			"name": "[concat(parameters('factoryName'), '/SourceDataset_xo4')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlobStorage1",
					"type": "LinkedServiceReference"
				},
				"type": "AzureBlob",
				"structure": [
					{
						"name": "Prop_0",
						"type": "String"
					},
					{
						"name": "Prop_1",
						"type": "String"
					},
					{
						"name": "Prop_2",
						"type": "String"
					},
					{
						"name": "Prop_3",
						"type": "String"
					},
					{
						"name": "Prop_4",
						"type": "String"
					},
					{
						"name": "Prop_5",
						"type": "String"
					},
					{
						"name": "Prop_6",
						"type": "String"
					},
					{
						"name": "Prop_7",
						"type": "String"
					},
					{
						"name": "Prop_8",
						"type": "String"
					},
					{
						"name": "Prop_9",
						"type": "String"
					},
					{
						"name": "Prop_10",
						"type": "String"
					},
					{
						"name": "Prop_11",
						"type": "String"
					},
					{
						"name": "Prop_12",
						"type": "String"
					},
					{
						"name": "Prop_13",
						"type": "String"
					},
					{
						"name": "Prop_14",
						"type": "String"
					},
					{
						"name": "Prop_15",
						"type": "String"
					},
					{
						"name": "Prop_16",
						"type": "String"
					},
					{
						"name": "Prop_17",
						"type": "String"
					},
					{
						"name": "Prop_18",
						"type": "String"
					},
					{
						"name": "Prop_19",
						"type": "String"
					},
					{
						"name": "Prop_20",
						"type": "String"
					},
					{
						"name": "Prop_21",
						"type": "String"
					},
					{
						"name": "Prop_22",
						"type": "String"
					},
					{
						"name": "Prop_23",
						"type": "String"
					},
					{
						"name": "Prop_24",
						"type": "String"
					},
					{
						"name": "Prop_25",
						"type": "String"
					},
					{
						"name": "Prop_26",
						"type": "String"
					},
					{
						"name": "Prop_27",
						"type": "String"
					},
					{
						"name": "Prop_28",
						"type": "String"
					},
					{
						"name": "Prop_29",
						"type": "String"
					},
					{
						"name": "Prop_30",
						"type": "String"
					},
					{
						"name": "Prop_31",
						"type": "String"
					},
					{
						"name": "Prop_32",
						"type": "String"
					},
					{
						"name": "Prop_33",
						"type": "String"
					},
					{
						"name": "Prop_34",
						"type": "String"
					},
					{
						"name": "Prop_35",
						"type": "String"
					},
					{
						"name": "Prop_36",
						"type": "String"
					},
					{
						"name": "Prop_37",
						"type": "String"
					},
					{
						"name": "Prop_38",
						"type": "String"
					},
					{
						"name": "Prop_39",
						"type": "String"
					},
					{
						"name": "Prop_40",
						"type": "String"
					},
					{
						"name": "Prop_41",
						"type": "String"
					},
					{
						"name": "Prop_42",
						"type": "String"
					},
					{
						"name": "Prop_43",
						"type": "String"
					},
					{
						"name": "Prop_44",
						"type": "String"
					},
					{
						"name": "Prop_45",
						"type": "String"
					},
					{
						"name": "Prop_46",
						"type": "String"
					},
					{
						"name": "Prop_47",
						"type": "String"
					},
					{
						"name": "Prop_48",
						"type": "String"
					},
					{
						"name": "Prop_49",
						"type": "String"
					},
					{
						"name": "Prop_50",
						"type": "String"
					},
					{
						"name": "Prop_51",
						"type": "String"
					},
					{
						"name": "Prop_52",
						"type": "String"
					},
					{
						"name": "Prop_53",
						"type": "String"
					},
					{
						"name": "Prop_54",
						"type": "String"
					},
					{
						"name": "Prop_55",
						"type": "String"
					},
					{
						"name": "Prop_56",
						"type": "String"
					},
					{
						"name": "Prop_57",
						"type": "String"
					},
					{
						"name": "Prop_58",
						"type": "String"
					},
					{
						"name": "Prop_59",
						"type": "String"
					},
					{
						"name": "Prop_60",
						"type": "String"
					},
					{
						"name": "Prop_61",
						"type": "String"
					},
					{
						"name": "Prop_62",
						"type": "String"
					},
					{
						"name": "Prop_63",
						"type": "String"
					},
					{
						"name": "Prop_64",
						"type": "String"
					},
					{
						"name": "Prop_65",
						"type": "String"
					},
					{
						"name": "Prop_66",
						"type": "String"
					},
					{
						"name": "Prop_67",
						"type": "String"
					},
					{
						"name": "Prop_68",
						"type": "String"
					},
					{
						"name": "Prop_69",
						"type": "String"
					},
					{
						"name": "Prop_70",
						"type": "String"
					},
					{
						"name": "Prop_71",
						"type": "String"
					},
					{
						"name": "Prop_72",
						"type": "String"
					},
					{
						"name": "Prop_73",
						"type": "String"
					},
					{
						"name": "Prop_74",
						"type": "String"
					},
					{
						"name": "Prop_75",
						"type": "String"
					},
					{
						"name": "Prop_76",
						"type": "String"
					},
					{
						"name": "Prop_77",
						"type": "String"
					},
					{
						"name": "Prop_78",
						"type": "String"
					},
					{
						"name": "Prop_79",
						"type": "String"
					},
					{
						"name": "Prop_80",
						"type": "String"
					},
					{
						"name": "Prop_81",
						"type": "String"
					},
					{
						"name": "Prop_82",
						"type": "String"
					},
					{
						"name": "Prop_83",
						"type": "String"
					},
					{
						"name": "Prop_84",
						"type": "String"
					}
				],
				"typeProperties": {
					"format": {
						"type": "TextFormat",
						"columnDelimiter": ";",
						"rowDelimiter": "",
						"nullValue": "\\N",
						"encodingName": null,
						"treatEmptyAsNull": true,
						"skipLineCount": 2,
						"firstRowAsHeader": false
					},
					"fileName": "SampleDaily_20181207.csv",
					"folderPath": "cdmscontainer"
				}
			}
		}
	]
}