cdmsdatafact/linkedTemplates/ArmTemplate_0.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory Name",
			"defaultValue": "cdmsdatafact"
		},
		"AzureBlobStorage1_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'AzureBlobStorage1'"
		},
		"AzureFunction1_functionKey": {
			"type": "secureString",
			"metadata": "Secure string for 'functionKey' of 'AzureFunction1'"
		},
		"CosmosDbMongoDbApi1_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'CosmosDbMongoDbApi1'"
		},
		"CosmosDbMongoDbApi2_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'CosmosDbMongoDbApi2'"
		},
		"linkedService1_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'linkedService1'"
		},
		"AzureBatch1_accessKey": {
			"type": "secureString",
			"metadata": "Secure string for 'accessKey' of 'AzureBatch1'"
		},
		"AzureBatch2_accessKey": {
			"type": "secureString",
			"metadata": "Secure string for 'accessKey' of 'AzureBatch2'"
		},
		"CosmosDbMongoDbApi1_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "cdmsDB"
		},
		"CosmosDbMongoDbApi2_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "cdmsDB"
		},
		"linkedService1_properties_typeProperties_userId": {
			"type": "string",
			"defaultValue": "cdmsstorageaccnt"
		},
		"FileShare1_properties_typeProperties_fileName": {
			"type": "string",
			"defaultValue": "Sample1.csv"
		},
		"FileShare1_properties_typeProperties_folderPath": {
			"type": "string",
			"defaultValue": "source/D2"
		},
		"SourceDataset_0al_properties_typeProperties_fileName": {
			"type": "string",
			"defaultValue": "SampleDaily_20181207.csv"
		},
		"SourceDataset_0al_properties_typeProperties_folderPath": {
			"type": "string",
			"defaultValue": "cdmscontainer"
		},
		"SourceDataset_r2p_properties_typeProperties_fileName": {
			"type": "string",
			"defaultValue": "SampleDaily_20181207.csv"
		},
		"SourceDataset_r2p_properties_typeProperties_folderPath": {
			"type": "string",
			"defaultValue": "cdmscontainer"
		},
		"SourceDataset_xo4_properties_typeProperties_fileName": {
			"type": "string",
			"defaultValue": "SampleDaily_20190111_1.txt"
		},
		"SourceDataset_xo4_properties_typeProperties_folderPath": {
			"type": "string",
			"defaultValue": "cdmscontainer"
		},
		"AzureBatch1_properties_typeProperties_accountName": {
			"type": "string",
			"defaultValue": "cdmsbatch"
		},
		"AzureBatch1_properties_typeProperties_batchUri": {
			"type": "string",
			"defaultValue": "https://cdmsbatch.centralus.batch.azure.com"
		},
		"AzureBatch2_properties_typeProperties_accountName": {
			"type": "string",
			"defaultValue": "cdmsbatch"
		},
		"AzureBatch2_properties_typeProperties_batchUri": {
			"type": "string",
			"defaultValue": "https://cdmsbatch.centralus.batch.azure.com"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/AzureBlobStorage1')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobStorage",
				"typeProperties": {
					"connectionString": "[parameters('AzureBlobStorage1_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureFunction1')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureFunction",
				"typeProperties": {
					"functionAppUrl": "https://msciftp.azurewebsites.net",
					"functionKey": {
						"type": "SecureString",
						"value": "[parameters('AzureFunction1_functionKey')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/CosmosDbMongoDbApi1')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "CosmosDbMongoDbApi",
				"typeProperties": {
					"connectionString": "[parameters('CosmosDbMongoDbApi1_connectionString')]",
					"database": "[parameters('CosmosDbMongoDbApi1_properties_typeProperties_database')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/CosmosDbMongoDbApi2')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "CosmosDbMongoDbApi",
				"typeProperties": {
					"connectionString": "[parameters('CosmosDbMongoDbApi2_connectionString')]",
					"database": "[parameters('CosmosDbMongoDbApi2_properties_typeProperties_database')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/linkedService1')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "FileServer",
				"typeProperties": {
					"host": "\\\\cdmsstorageaccnt.file.core.windows.net\\sourceftp",
					"userId": "[parameters('linkedService1_properties_typeProperties_userId')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('linkedService1_password')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/CosmosDbMongoDbApiCollection1')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "CosmosDbMongoDbApi2",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "CosmosDbMongoDbApiCollection",
				"typeProperties": {
					"collection": "Test"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/CosmosDbMongoDbApi2')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DestinationDataset_0al')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "CosmosDbMongoDbApi1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "CosmosDbMongoDbApiCollection",
				"typeProperties": {
					"collection": "cdmsCollection"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/CosmosDbMongoDbApi1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DestinationDataset_r2p')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "CosmosDbMongoDbApi1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "CosmosDbMongoDbApiCollection",
				"typeProperties": {
					"collection": "mscicdmscollection"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/CosmosDbMongoDbApi1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DestinationDataset_xo4')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "CosmosDbMongoDbApi1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "CosmosDbMongoDbApiCollection",
				"typeProperties": {
					"collection": "TestCollection"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/CosmosDbMongoDbApi1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/FileShare1')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "linkedService1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "FileShare",
				"structure": [
					{
						"name": "Id1",
						"type": "String"
					},
					{
						"name": "Id2",
						"type": "String"
					},
					{
						"name": "Id3",
						"type": "String"
					},
					{
						"name": "Operation",
						"type": "String"
					}
				],
				"typeProperties": {
					"format": {
						"type": "TextFormat",
						"columnDelimiter": ",",
						"rowDelimiter": "",
						"nullValue": "\\N",
						"treatEmptyAsNull": true,
						"skipLineCount": 0,
						"firstRowAsHeader": false
					},
					"fileName": "[parameters('FileShare1_properties_typeProperties_fileName')]",
					"folderPath": "[parameters('FileShare1_properties_typeProperties_folderPath')]"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/linkedService1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/SourceDataset_0al')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlobStorage1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureBlob",
				"structure": [
					{
						"name": "Prop_0",
						"type": "String"
					},
					{
						"name": "Prop_1",
						"type": "String"
					},
					{
						"name": "Prop_2",
						"type": "String"
					},
					{
						"name": "Prop_3",
						"type": "String"
					},
					{
						"name": "Prop_4",
						"type": "String"
					},
					{
						"name": "Prop_5",
						"type": "String"
					},
					{
						"name": "Prop_6",
						"type": "String"
					},
					{
						"name": "Prop_7",
						"type": "String"
					},
					{
						"name": "Prop_8",
						"type": "String"
					},
					{
						"name": "Prop_9",
						"type": "String"
					},
					{
						"name": "Prop_10",
						"type": "String"
					},
					{
						"name": "Prop_11",
						"type": "String"
					},
					{
						"name": "Prop_12",
						"type": "String"
					},
					{
						"name": "Prop_13",
						"type": "String"
					},
					{
						"name": "Prop_14",
						"type": "String"
					},
					{
						"name": "Prop_15",
						"type": "String"
					},
					{
						"name": "Prop_16",
						"type": "String"
					},
					{
						"name": "Prop_17",
						"type": "String"
					},
					{
						"name": "Prop_18",
						"type": "String"
					},
					{
						"name": "Prop_19",
						"type": "String"
					},
					{
						"name": "Prop_20",
						"type": "String"
					},
					{
						"name": "Prop_21",
						"type": "String"
					},
					{
						"name": "Prop_22",
						"type": "String"
					},
					{
						"name": "Prop_23",
						"type": "String"
					},
					{
						"name": "Prop_24",
						"type": "String"
					},
					{
						"name": "Prop_25",
						"type": "String"
					},
					{
						"name": "Prop_26",
						"type": "String"
					},
					{
						"name": "Prop_27",
						"type": "String"
					},
					{
						"name": "Prop_28",
						"type": "String"
					},
					{
						"name": "Prop_29",
						"type": "String"
					},
					{
						"name": "Prop_30",
						"type": "String"
					},
					{
						"name": "Prop_31",
						"type": "String"
					},
					{
						"name": "Prop_32",
						"type": "String"
					},
					{
						"name": "Prop_33",
						"type": "String"
					},
					{
						"name": "Prop_34",
						"type": "String"
					},
					{
						"name": "Prop_35",
						"type": "String"
					},
					{
						"name": "Prop_36",
						"type": "String"
					},
					{
						"name": "Prop_37",
						"type": "String"
					},
					{
						"name": "Prop_38",
						"type": "String"
					},
					{
						"name": "Prop_39",
						"type": "String"
					},
					{
						"name": "Prop_40",
						"type": "String"
					},
					{
						"name": "Prop_41",
						"type": "String"
					},
					{
						"name": "Prop_42",
						"type": "String"
					},
					{
						"name": "Prop_43",
						"type": "String"
					},
					{
						"name": "Prop_44",
						"type": "String"
					},
					{
						"name": "Prop_45",
						"type": "String"
					},
					{
						"name": "Prop_46",
						"type": "String"
					},
					{
						"name": "Prop_47",
						"type": "String"
					},
					{
						"name": "Prop_48",
						"type": "String"
					},
					{
						"name": "Prop_49",
						"type": "String"
					},
					{
						"name": "Prop_50",
						"type": "String"
					},
					{
						"name": "Prop_51",
						"type": "String"
					},
					{
						"name": "Prop_52",
						"type": "String"
					},
					{
						"name": "Prop_53",
						"type": "String"
					},
					{
						"name": "Prop_54",
						"type": "String"
					},
					{
						"name": "Prop_55",
						"type": "String"
					},
					{
						"name": "Prop_56",
						"type": "String"
					},
					{
						"name": "Prop_57",
						"type": "String"
					},
					{
						"name": "Prop_58",
						"type": "String"
					},
					{
						"name": "Prop_59",
						"type": "String"
					},
					{
						"name": "Prop_60",
						"type": "String"
					},
					{
						"name": "Prop_61",
						"type": "String"
					},
					{
						"name": "Prop_62",
						"type": "String"
					},
					{
						"name": "Prop_63",
						"type": "String"
					},
					{
						"name": "Prop_64",
						"type": "String"
					},
					{
						"name": "Prop_65",
						"type": "String"
					},
					{
						"name": "Prop_66",
						"type": "String"
					},
					{
						"name": "Prop_67",
						"type": "String"
					},
					{
						"name": "Prop_68",
						"type": "String"
					},
					{
						"name": "Prop_69",
						"type": "String"
					},
					{
						"name": "Prop_70",
						"type": "String"
					},
					{
						"name": "Prop_71",
						"type": "String"
					},
					{
						"name": "Prop_72",
						"type": "String"
					},
					{
						"name": "Prop_73",
						"type": "String"
					},
					{
						"name": "Prop_74",
						"type": "String"
					},
					{
						"name": "Prop_75",
						"type": "String"
					},
					{
						"name": "Prop_76",
						"type": "String"
					},
					{
						"name": "Prop_77",
						"type": "String"
					},
					{
						"name": "Prop_78",
						"type": "String"
					},
					{
						"name": "Prop_79",
						"type": "String"
					},
					{
						"name": "Prop_80",
						"type": "String"
					},
					{
						"name": "Prop_81",
						"type": "String"
					},
					{
						"name": "Prop_82",
						"type": "String"
					},
					{
						"name": "Prop_83",
						"type": "String"
					},
					{
						"name": "Prop_84",
						"type": "String"
					}
				],
				"typeProperties": {
					"format": {
						"type": "TextFormat",
						"columnDelimiter": ";",
						"rowDelimiter": "",
						"nullValue": "\\N",
						"encodingName": null,
						"treatEmptyAsNull": true,
						"skipLineCount": 2,
						"firstRowAsHeader": false
					},
					"fileName": "[parameters('SourceDataset_0al_properties_typeProperties_fileName')]",
					"folderPath": "[parameters('SourceDataset_0al_properties_typeProperties_folderPath')]"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureBlobStorage1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/SourceDataset_r2p')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlobStorage1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureBlob",
				"structure": [
					{
						"name": "Prop_0",
						"type": "String"
					},
					{
						"name": "Prop_1",
						"type": "String"
					},
					{
						"name": "Prop_2",
						"type": "String"
					},
					{
						"name": "Prop_3",
						"type": "String"
					},
					{
						"name": "Prop_4",
						"type": "String"
					},
					{
						"name": "Prop_5",
						"type": "String"
					},
					{
						"name": "Prop_6",
						"type": "String"
					},
					{
						"name": "Prop_7",
						"type": "String"
					},
					{
						"name": "Prop_8",
						"type": "String"
					},
					{
						"name": "Prop_9",
						"type": "String"
					},
					{
						"name": "Prop_10",
						"type": "String"
					},
					{
						"name": "Prop_11",
						"type": "String"
					},
					{
						"name": "Prop_12",
						"type": "String"
					},
					{
						"name": "Prop_13",
						"type": "String"
					},
					{
						"name": "Prop_14",
						"type": "String"
					},
					{
						"name": "Prop_15",
						"type": "String"
					},
					{
						"name": "Prop_16",
						"type": "String"
					},
					{
						"name": "Prop_17",
						"type": "String"
					},
					{
						"name": "Prop_18",
						"type": "String"
					},
					{
						"name": "Prop_19",
						"type": "String"
					},
					{
						"name": "Prop_20",
						"type": "String"
					},
					{
						"name": "Prop_21",
						"type": "String"
					},
					{
						"name": "Prop_22",
						"type": "String"
					},
					{
						"name": "Prop_23",
						"type": "String"
					},
					{
						"name": "Prop_24",
						"type": "String"
					},
					{
						"name": "Prop_25",
						"type": "String"
					},
					{
						"name": "Prop_26",
						"type": "String"
					},
					{
						"name": "Prop_27",
						"type": "String"
					},
					{
						"name": "Prop_28",
						"type": "String"
					},
					{
						"name": "Prop_29",
						"type": "String"
					},
					{
						"name": "Prop_30",
						"type": "String"
					},
					{
						"name": "Prop_31",
						"type": "String"
					},
					{
						"name": "Prop_32",
						"type": "String"
					},
					{
						"name": "Prop_33",
						"type": "String"
					},
					{
						"name": "Prop_34",
						"type": "String"
					},
					{
						"name": "Prop_35",
						"type": "String"
					},
					{
						"name": "Prop_36",
						"type": "String"
					},
					{
						"name": "Prop_37",
						"type": "String"
					},
					{
						"name": "Prop_38",
						"type": "String"
					},
					{
						"name": "Prop_39",
						"type": "String"
					},
					{
						"name": "Prop_40",
						"type": "String"
					},
					{
						"name": "Prop_41",
						"type": "String"
					},
					{
						"name": "Prop_42",
						"type": "String"
					},
					{
						"name": "Prop_43",
						"type": "String"
					},
					{
						"name": "Prop_44",
						"type": "String"
					},
					{
						"name": "Prop_45",
						"type": "String"
					},
					{
						"name": "Prop_46",
						"type": "String"
					},
					{
						"name": "Prop_47",
						"type": "String"
					},
					{
						"name": "Prop_48",
						"type": "String"
					},
					{
						"name": "Prop_49",
						"type": "String"
					},
					{
						"name": "Prop_50",
						"type": "String"
					},
					{
						"name": "Prop_51",
						"type": "String"
					},
					{
						"name": "Prop_52",
						"type": "String"
					},
					{
						"name": "Prop_53",
						"type": "String"
					},
					{
						"name": "Prop_54",
						"type": "String"
					},
					{
						"name": "Prop_55",
						"type": "String"
					},
					{
						"name": "Prop_56",
						"type": "String"
					},
					{
						"name": "Prop_57",
						"type": "String"
					},
					{
						"name": "Prop_58",
						"type": "String"
					},
					{
						"name": "Prop_59",
						"type": "String"
					},
					{
						"name": "Prop_60",
						"type": "String"
					},
					{
						"name": "Prop_61",
						"type": "String"
					},
					{
						"name": "Prop_62",
						"type": "String"
					},
					{
						"name": "Prop_63",
						"type": "String"
					},
					{
						"name": "Prop_64",
						"type": "String"
					},
					{
						"name": "Prop_65",
						"type": "String"
					},
					{
						"name": "Prop_66",
						"type": "String"
					},
					{
						"name": "Prop_67",
						"type": "String"
					},
					{
						"name": "Prop_68",
						"type": "String"
					},
					{
						"name": "Prop_69",
						"type": "String"
					},
					{
						"name": "Prop_70",
						"type": "String"
					},
					{
						"name": "Prop_71",
						"type": "String"
					},
					{
						"name": "Prop_72",
						"type": "String"
					},
					{
						"name": "Prop_73",
						"type": "String"
					},
					{
						"name": "Prop_74",
						"type": "String"
					},
					{
						"name": "Prop_75",
						"type": "String"
					},
					{
						"name": "Prop_76",
						"type": "String"
					},
					{
						"name": "Prop_77",
						"type": "String"
					},
					{
						"name": "Prop_78",
						"type": "String"
					},
					{
						"name": "Prop_79",
						"type": "String"
					},
					{
						"name": "Prop_80",
						"type": "String"
					},
					{
						"name": "Prop_81",
						"type": "String"
					},
					{
						"name": "Prop_82",
						"type": "String"
					},
					{
						"name": "Prop_83",
						"type": "String"
					},
					{
						"name": "Prop_84",
						"type": "String"
					}
				],
				"typeProperties": {
					"format": {
						"type": "TextFormat",
						"columnDelimiter": ";",
						"rowDelimiter": "",
						"nullValue": "\\N",
						"encodingName": null,
						"treatEmptyAsNull": true,
						"skipLineCount": 2,
						"firstRowAsHeader": false
					},
					"fileName": "[parameters('SourceDataset_r2p_properties_typeProperties_fileName')]",
					"folderPath": "[parameters('SourceDataset_r2p_properties_typeProperties_folderPath')]"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureBlobStorage1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/SourceDataset_xo4')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlobStorage1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureBlob",
				"structure": [
					{
						"name": "Prop_0",
						"type": "String"
					},
					{
						"name": "Prop_1",
						"type": "String"
					},
					{
						"name": "Prop_2",
						"type": "String"
					},
					{
						"name": "Prop_3",
						"type": "String"
					},
					{
						"name": "Prop_4",
						"type": "String"
					},
					{
						"name": "Prop_5",
						"type": "String"
					},
					{
						"name": "Prop_6",
						"type": "String"
					},
					{
						"name": "Prop_7",
						"type": "String"
					},
					{
						"name": "Prop_8",
						"type": "String"
					},
					{
						"name": "Prop_9",
						"type": "String"
					},
					{
						"name": "Prop_10",
						"type": "String"
					},
					{
						"name": "Prop_11",
						"type": "String"
					},
					{
						"name": "Prop_12",
						"type": "String"
					},
					{
						"name": "Prop_13",
						"type": "String"
					},
					{
						"name": "Prop_14",
						"type": "String"
					},
					{
						"name": "Prop_15",
						"type": "String"
					},
					{
						"name": "Prop_16",
						"type": "String"
					},
					{
						"name": "Prop_17",
						"type": "String"
					},
					{
						"name": "Prop_18",
						"type": "String"
					},
					{
						"name": "Prop_19",
						"type": "String"
					},
					{
						"name": "Prop_20",
						"type": "String"
					},
					{
						"name": "Prop_21",
						"type": "String"
					},
					{
						"name": "Prop_22",
						"type": "String"
					},
					{
						"name": "Prop_23",
						"type": "String"
					},
					{
						"name": "Prop_24",
						"type": "String"
					},
					{
						"name": "Prop_25",
						"type": "String"
					},
					{
						"name": "Prop_26",
						"type": "String"
					},
					{
						"name": "Prop_27",
						"type": "String"
					},
					{
						"name": "Prop_28",
						"type": "String"
					},
					{
						"name": "Prop_29",
						"type": "String"
					},
					{
						"name": "Prop_30",
						"type": "String"
					},
					{
						"name": "Prop_31",
						"type": "String"
					},
					{
						"name": "Prop_32",
						"type": "String"
					},
					{
						"name": "Prop_33",
						"type": "String"
					},
					{
						"name": "Prop_34",
						"type": "String"
					},
					{
						"name": "Prop_35",
						"type": "String"
					},
					{
						"name": "Prop_36",
						"type": "String"
					},
					{
						"name": "Prop_37",
						"type": "String"
					},
					{
						"name": "Prop_38",
						"type": "String"
					},
					{
						"name": "Prop_39",
						"type": "String"
					},
					{
						"name": "Prop_40",
						"type": "String"
					},
					{
						"name": "Prop_41",
						"type": "String"
					},
					{
						"name": "Prop_42",
						"type": "String"
					},
					{
						"name": "Prop_43",
						"type": "String"
					},
					{
						"name": "Prop_44",
						"type": "String"
					},
					{
						"name": "Prop_45",
						"type": "String"
					},
					{
						"name": "Prop_46",
						"type": "String"
					},
					{
						"name": "Prop_47",
						"type": "String"
					},
					{
						"name": "Prop_48",
						"type": "String"
					},
					{
						"name": "Prop_49",
						"type": "String"
					},
					{
						"name": "Prop_50",
						"type": "String"
					},
					{
						"name": "Prop_51",
						"type": "String"
					},
					{
						"name": "Prop_52",
						"type": "String"
					},
					{
						"name": "Prop_53",
						"type": "String"
					},
					{
						"name": "Prop_54",
						"type": "String"
					},
					{
						"name": "Prop_55",
						"type": "String"
					},
					{
						"name": "Prop_56",
						"type": "String"
					},
					{
						"name": "Prop_57",
						"type": "String"
					},
					{
						"name": "Prop_58",
						"type": "String"
					},
					{
						"name": "Prop_59",
						"type": "String"
					},
					{
						"name": "Prop_60",
						"type": "String"
					},
					{
						"name": "Prop_61",
						"type": "String"
					},
					{
						"name": "Prop_62",
						"type": "String"
					},
					{
						"name": "Prop_63",
						"type": "String"
					},
					{
						"name": "Prop_64",
						"type": "String"
					},
					{
						"name": "Prop_65",
						"type": "String"
					},
					{
						"name": "Prop_66",
						"type": "String"
					},
					{
						"name": "Prop_67",
						"type": "String"
					},
					{
						"name": "Prop_68",
						"type": "String"
					},
					{
						"name": "Prop_69",
						"type": "String"
					},
					{
						"name": "Prop_70",
						"type": "String"
					},
					{
						"name": "Prop_71",
						"type": "String"
					},
					{
						"name": "Prop_72",
						"type": "String"
					},
					{
						"name": "Prop_73",
						"type": "String"
					},
					{
						"name": "Prop_74",
						"type": "String"
					},
					{
						"name": "Prop_75",
						"type": "String"
					},
					{
						"name": "Prop_76",
						"type": "String"
					},
					{
						"name": "Prop_77",
						"type": "String"
					},
					{
						"name": "Prop_78",
						"type": "String"
					},
					{
						"name": "Prop_79",
						"type": "String"
					},
					{
						"name": "Prop_80",
						"type": "String"
					},
					{
						"name": "Prop_81",
						"type": "String"
					},
					{
						"name": "Prop_82",
						"type": "String"
					},
					{
						"name": "Prop_83",
						"type": "String"
					},
					{
						"name": "Prop_84",
						"type": "String"
					}
				],
				"typeProperties": {
					"format": {
						"type": "TextFormat",
						"columnDelimiter": ";",
						"rowDelimiter": "",
						"nullValue": "\\N",
						"encodingName": null,
						"treatEmptyAsNull": true,
						"skipLineCount": 2,
						"firstRowAsHeader": false
					},
					"fileName": "[parameters('SourceDataset_xo4_properties_typeProperties_fileName')]",
					"folderPath": "[parameters('SourceDataset_xo4_properties_typeProperties_folderPath')]"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureBlobStorage1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureBatch1')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBatch",
				"typeProperties": {
					"accountName": "[parameters('AzureBatch1_properties_typeProperties_accountName')]",
					"accessKey": {
						"type": "SecureString",
						"value": "[parameters('AzureBatch1_accessKey')]"
					},
					"batchUri": "[parameters('AzureBatch1_properties_typeProperties_batchUri')]",
					"poolName": "12345",
					"linkedServiceName": {
						"referenceName": "AzureBlobStorage1",
						"type": "LinkedServiceReference"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureBlobStorage1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureBatch2')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBatch",
				"typeProperties": {
					"accountName": "[parameters('AzureBatch2_properties_typeProperties_accountName')]",
					"accessKey": {
						"type": "SecureString",
						"value": "[parameters('AzureBatch2_accessKey')]"
					},
					"batchUri": "[parameters('AzureBatch2_properties_typeProperties_batchUri')]",
					"poolName": "12345",
					"linkedServiceName": {
						"referenceName": "AzureBlobStorage1",
						"type": "LinkedServiceReference"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureBlobStorage1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/CopyPipeline_0al')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy_0al",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [
							{
								"name": "Source",
								"value": "cdmscontainer/SampleDaily_20181207.csv"
							},
							{
								"name": "Destination",
								"value": "cdmsCollection"
							}
						],
						"typeProperties": {
							"source": {
								"type": "BlobSource",
								"recursive": false
							},
							"sink": {
								"type": "CosmosDbMongoDbApiSink",
								"writeBatchTimeout": "00:30:00",
								"writeBatchSize": 10000,
								"writeBehavior": "insert"
							},
							"enableStaging": false,
							"enableSkipIncompatibleRow": true,
							"dataIntegrationUnits": 0,
							"translator": {
								"type": "TabularTranslator",
								"schemaMapping": {
									"Prop_0": "Prop_0",
									"Prop_1": "Prop_1",
									"Prop_2": "Prop_2",
									"Prop_3": "Prop_3",
									"Prop_4": "Prop_4",
									"Prop_5": "Prop_5",
									"Prop_6": "Prop_6",
									"Prop_7": "Prop_7",
									"Prop_8": "Prop_8",
									"Prop_9": "Prop_9",
									"Prop_10": "Prop_10",
									"Prop_11": "Prop_11",
									"Prop_12": "Prop_12",
									"Prop_13": "Prop_13",
									"Prop_14": "Prop_14",
									"Prop_15": "Prop_15",
									"Prop_16": "Prop_16",
									"Prop_17": "Prop_17",
									"Prop_18": "Prop_18",
									"Prop_19": "Prop_19",
									"Prop_20": "Prop_20",
									"Prop_21": "Prop_21",
									"Prop_22": "Prop_22",
									"Prop_23": "Prop_23",
									"Prop_24": "Prop_24",
									"Prop_25": "Prop_25",
									"Prop_26": "Prop_26",
									"Prop_27": "Prop_27",
									"Prop_28": "Prop_28",
									"Prop_29": "Prop_29",
									"Prop_30": "Prop_30",
									"Prop_31": "Prop_31",
									"Prop_32": "Prop_32",
									"Prop_33": "Prop_33",
									"Prop_34": "Prop_34",
									"Prop_35": "Prop_35",
									"Prop_36": "Prop_36",
									"Prop_37": "Prop_37",
									"Prop_38": "Prop_38",
									"Prop_39": "Prop_39",
									"Prop_40": "Prop_40",
									"Prop_41": "Prop_41",
									"Prop_42": "Prop_42",
									"Prop_43": "Prop_43",
									"Prop_44": "Prop_44",
									"Prop_45": "Prop_45",
									"Prop_46": "Prop_46",
									"Prop_47": "Prop_47",
									"Prop_48": "Prop_48",
									"Prop_49": "Prop_49",
									"Prop_50": "Prop_50",
									"Prop_51": "Prop_51",
									"Prop_52": "Prop_52",
									"Prop_53": "Prop_53",
									"Prop_54": "Prop_54",
									"Prop_55": "Prop_55",
									"Prop_56": "Prop_56",
									"Prop_57": "Prop_57",
									"Prop_58": "Prop_58",
									"Prop_59": "Prop_59",
									"Prop_60": "Prop_60",
									"Prop_61": "Prop_61",
									"Prop_62": "Prop_62",
									"Prop_63": "Prop_63",
									"Prop_64": "Prop_64",
									"Prop_65": "Prop_65",
									"Prop_66": "Prop_66",
									"Prop_67": "Prop_67",
									"Prop_68": "Prop_68",
									"Prop_69": "Prop_69",
									"Prop_70": "Prop_70",
									"Prop_71": "Prop_71",
									"Prop_72": "Prop_72",
									"Prop_73": "Prop_73",
									"Prop_74": "Prop_74",
									"Prop_75": "Prop_75",
									"Prop_76": "Prop_76",
									"Prop_77": "Prop_77",
									"Prop_78": "Prop_78",
									"Prop_79": "Prop_79",
									"Prop_80": "Prop_80",
									"Prop_81": "Prop_81",
									"Prop_82": "Prop_82",
									"Prop_83": "Prop_83",
									"Prop_84": "Prop_84"
								}
							}
						},
						"inputs": [
							{
								"referenceName": "SourceDataset_0al",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "DestinationDataset_0al",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/SourceDataset_0al')]",
				"[concat(variables('factoryId'), '/datasets/DestinationDataset_0al')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/CopyPipeline_r2p')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy_r2p",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "FileSystemSource",
								"recursive": true
							},
							"sink": {
								"type": "CosmosDbMongoDbApiSink",
								"writeBatchTimeout": "00:30:00",
								"writeBatchSize": 10000,
								"writeBehavior": "insert"
							},
							"enableStaging": false,
							"enableSkipIncompatibleRow": true,
							"dataIntegrationUnits": 0,
							"translator": {
								"type": "TabularTranslator",
								"schemaMapping": {
									"Id1": "Id1",
									"Id2": "Id2",
									"Id3": "Id3",
									"Operation": "Operation"
								}
							}
						},
						"inputs": [
							{
								"referenceName": "FileShare1",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "CosmosDbMongoDbApiCollection1",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/FileShare1')]",
				"[concat(variables('factoryId'), '/datasets/CosmosDbMongoDbApiCollection1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/CopyPipeline_xo4')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy_xo4",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [
							{
								"name": "Source",
								"value": "cdmscontainer/SampleDaily_20181207.csv"
							},
							{
								"name": "Destination",
								"value": "TestCollection"
							}
						],
						"typeProperties": {
							"source": {
								"type": "BlobSource",
								"recursive": false
							},
							"sink": {
								"type": "CosmosDbMongoDbApiSink",
								"writeBatchTimeout": "00:30:00",
								"writeBatchSize": 10000,
								"writeBehavior": "insert"
							},
							"enableStaging": false,
							"enableSkipIncompatibleRow": true,
							"dataIntegrationUnits": 0,
							"translator": {
								"type": "TabularTranslator",
								"schemaMapping": {
									"Prop_0": "_id['$oid']",
									"Prop_1": "STATUS",
									"Prop_2": "ISIN",
									"Prop_3": "INST_TYPE",
									"Prop_4": "TYPE_CODE",
									"Prop_5": "ID",
									"Prop_6": "NAME",
									"Prop_7": "POS_UNIT",
									"Prop_8": "PORTFOLIO",
									"Prop_9": "SECTOR",
									"Prop_10": "ISSUER",
									"Prop_11": "COUNTERPARTY",
									"Prop_12": "COUNTRY_OF_RISK",
									"Prop_13": "CURR",
									"Prop_14": "SPOT",
									"Prop_15": "COST_OF_CARRY",
									"Prop_16": "CASHFLOW",
									"Prop_17": "STRIKE",
									"Prop_18": "CONTRACT_SIZE",
									"Prop_19": "ISSUE_DATE",
									"Prop_20": "MATURITY",
									"Prop_21": "CALL",
									"Prop_22": "VOLATILITY",
									"Prop_23": "UNDERLYING",
									"Prop_24": "GOVERNMENT_BOND",
									"Prop_25": "COUPON_RATE",
									"Prop_26": "LAST_REG_COUP_DATE",
									"Prop_27": "ODD_FIRST_COUP",
									"Prop_28": "ODD_LAST_COUP",
									"Prop_29": "ODD_FIRST_COUP_RATE",
									"Prop_30": "TERM",
									"Prop_31": "BUSINESS_DAY_RULE",
									"Prop_32": "FLOAT_REF_IDX",
									"Prop_33": "SPREAD",
									"Prop_34": "LAST_RESET_RATE",
									"Prop_35": "NOTIONAL",
									"Prop_36": "UNDERL_MATURITY",
									"Prop_37": "UNDERL_ENTITIES",
									"Prop_38": "COMP_WEIGHT",
									"Prop_39": "STRUCTURED_CASHFLOW",
									"Prop_40": "REF_TYPE",
									"Prop_41": "SWAP_NOTIONAL",
									"Prop_42": "FIX_COUP_DATE",
									"Prop_43": "PREMIUM_START",
									"Prop_44": "PREMIUM_END",
									"Prop_45": "NOTIONAL_START",
									"Prop_46": "NOTIONAL_END",
									"Prop_47": "EXERCISE_SCHEDULE",
									"Prop_48": "PUTABLE",
									"Prop_49": "CORRELATION",
									"Prop_50": "CONV_PRICE",
									"Prop_51": "CONV_START_DATE",
									"Prop_52": "CONV_END_DATE",
									"Prop_53": "REDEMPTION_BARRIER",
									"Prop_54": "CTD_BOND",
									"Prop_55": "EURO_VALUE",
									"Prop_56": "KAG_FX",
									"Prop_57": "RECOVERY_RATE",
									"Prop_58": "AMORTIZING",
									"Prop_59": "RATING",
									"Prop_60": "FACTOR",
									"Prop_61": "INFO",
									"Prop_62": "PREMIUM",
									"Prop_63": "CALLABLE",
									"Prop_64": "STRIKE_BOND_CALL",
									"Prop_65": "REDEMPTION_REFERENCE",
									"Prop_66": "CONVERTIBLE_AFTER_CALL",
									"Prop_67": "CALL_DATE",
									"Prop_68": "CALL_TYPE",
									"Prop_69": "EXCHANGEABLE",
									"Prop_70": "NOTIONAL_PER_BOND",
									"Prop_71": "BARRIER",
									"Prop_72": "BARRIER_HIT",
									"Prop_73": "REBATE",
									"Prop_74": "PUT_TYPE",
									"Prop_75": "WAL",
									"Prop_76": "POOLFACTOR",
									"Prop_77": "FIXINGS_SO_FAR",
									"Prop_78": "FIXINGS_TOTAL",
									"Prop_79": "FIXING_PERIOD",
									"Prop_80": "FIXINGS",
									"Prop_81": "DIGITAL",
									"Prop_82": "DIGITAL_PAYOFF",
									"Prop_83": "VV_NAME",
									"Prop_84": "OPTION_SCHEDULE"
								}
							}
						},
						"inputs": [
							{
								"referenceName": "SourceDataset_xo4",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "DestinationDataset_xo4",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Web1",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "Copy_xo4",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": "https://msciftp.azurewebsites.net/api/ftp",
							"method": "GET",
							"headers": {
								"fileName": "SampleFile.csv"
							}
						}
					}
				],
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/SourceDataset_xo4')]",
				"[concat(variables('factoryId'), '/datasets/DestinationDataset_xo4')]"
			]
		}
	]
}